<h1>MAIN BRAND</h1>

<p> This is where you can add your shoe brand </p>

<br>

<h1>BRANDS:</h1>

<br>

  <ol id="list">
    <% @brands.each do |brand| %>
      <li> <a href="/brand_main/<%= brand.id %>"><%= brand.name %></a> </li>
    <% end %>
  </ol>

  <h1>Add Brand:</h1>
  <form action="/brand_main" method="post">
    <label for="name">Name:</label>
    <input id="name" name="name" type="text">

    <label for="price">Price:</label>
    <input id="price" name="price" type="number">

    <button type="submit">ADD</button>
  </form>

<a href="/store_main">GO TO STORES</a>

<a href="/home">HOME</a>
