<h1> STORE MAIN </h1>

<h1>STORES: </h4>
<ul>
  <% @stores.each do |store| %>
    <li> <a href="/stores/<%= store.id %>"><%= store.name %></a> <a href="/stores/<%= store.id %>/edit">EDIT</a></li>
  <% end %>
</ul>
<br>
